.container {
  flex-direction: row;
  display: flex;
  justify-content: center;
  /* background-color: rgb(187, 189, 188); */
  position: relative;
  margin-top: 15px;
}

.card {
  height: 350px;
  width: 280px;
  background-color: #f1ebea;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 3px 6px 6px 3px rgba(0, 0, 0, 0.6);
}

.card p {
  color: rgba(0, 0, 0, 0.6);
  padding: 0px 20px 0px 20px;
}

.card h3 {
  color: rgba(0, 0, 0, 0.6);
  padding: 0px 20px 0px 20px;
  text-align: center;
  font-weight: 800;
}
