.fullContainer {
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2018/09/17/21/46/rose-3684890_960_720.jpg");  
  display: grid;
  place-content: center;
  background-size: contain;
  perspective: 80px;
  perspective-origin: 500% 200%;
}
.containerLogin {
  max-width: 1440px;
  max-height: 600px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  display: flex;
  color: white;
  height: 100vh;
  border-radius: 50px;
  box-shadow: 4px 4px 14px 7px rgba(81, 64, 21, 0.6);
  border: 1px solid rgba(81, 64, 21);
}
.container_100 {
  display: grid;
  place-content: center;
  background-size: contain;
  perspective: 80px;
  height: 100vh;
}

.title {
  padding-left: 20px;
  padding-right: 20px;
}
.pictureContainer {
  width: 100%;
  backdrop-filter: brightness(0.5);
  border-radius: 50px 0px 0px 50px;
}

.pictureLogo {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.formContainer {
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
  border-radius: 0px 50px 50px 0px;
  align-content: space-evenly;
  perspective: 80px;
  perspective-origin: 500% 200%;
}

.form {
  width: 100%;
  max-width: 500px;
  padding-left: 10px;
  padding-right: 10px;
}

.form ::placeholder {
  color: rgba(243, 220, 174);
  opacity: 1; /* Firefox */
  font-size: 20px;
}

.gridInputs {
  display: grid;
}

.input {
  width: 100%;
  padding: 10px;
  background-color: rgb(81, 64, 21);
  border-radius: 30px;
  border: none;
  color: rgba(243, 220, 174);
  margin-bottom: 10px;
  font-size: 20px;
  
}

.ButtonForm {
  width: 80%;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  background-color: rgb(81, 64, 21);
  border-radius: 30px;
  /* border: none; */
  color: rgba(243, 220, 174);;
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
}

.ButtonFormRegister2{
  background-color: transparent;
  color: rgb(243, 220, 174);
  border-color: rgba(243, 220, 174);
  border: 1px solid;
}

.recoverPass {
  font-size: 20px;
  text-align: end;
  padding-right: 20px;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  /* color: rgb(81, 64, 21); */
}

.ButtonFormContainer {
  display: grid;
  justify-items: center;
  /* margin-top: 40px; */
}

.pictureLogoResponsive {
  display: none;
}

.pictureContent {
  justify-items: center;
  height: 100%;
  display: grid;
  align-items: center;
}

@media (max-width: 920px) {
  .fullContainer {
    display: block;
  }
  .container_100 {
    display: block;
    place-content: center;
    background-size: contain;
    perspective: 80px;
    /* height: auto; */
  }
  .containerLogin {
    width: 100%;
    margin: 0px;
    max-height: 100%;
    border-radius: 0px;
    /* height: auto; */
  }

  .pictureContainer {
    display: none;
  }
  .formContainer {
    width: 100%;
    height: 100%;
    margin: 0px;
    align-content: center;
    border-radius: 0px;
  }
  .title {
    margin: 10px;
  }
  .ButtonForm {
    width: 80%;
    padding: 10px;
    color: rgba(243, 220, 174);
    font-size: 15px;
  }
  .form {
    padding: 10px;
  }
  .input {
    font-size: 15px;
  }
  .form ::placeholder {
    color: rgba(243, 220, 174);
    opacity: 1;
    max-width: 400px;
    font-size: 15px;
  }

  .pictureLogoResponsive {
    display: block;
    height: 100px;
    width: 100px;
    margin: 50px;
  }
}

@media (max-height: 740px) {
  .containerLogin{
    height: auto;
  }
  .container_100{
    height: auto;
  }
}

@media (max-height: 740px) and (min-width: 920px) {
  .container_100 {
    height: 100vh;
  }
  .containerLogin {
    height: 100vh;
  }
}

@media (min-height: 745px) {
  .container_100 {
    height: 100vh;
  }
  .containerLogin {
    height: 100vh;
  }
}
