.sliderContainerImg {
  max-height: 400px;
  object-fit: contain;
}

.form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(243, 220, 174);
  opacity: 1; /* Firefox */
  max-width: 400px;
}

.rowContactField {
  justify-self: center;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.containerForm{
  text-align:-webkit-center
}

@media (max-width: 600px) {
  .rowContactField {
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
  }
}
