.sliderContainerImg {
  max-height: 400px;
  object-fit: contain;
}

.form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
  max-width: 700px;
}

