.sliderContainerImg {
  max-height: 400px;
  object-fit: contain;
}

.img {
  border-radius: 20px;
  height: 300px;
  position: relative;
}

.textImage {
  z-index: 1;
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  top: 25%;
}
