@import url("https://fonts.google.com/specimen/Source+Sans+Pro");

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Sans-Pro";
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  position: relative;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul{
    list-style-type: disc;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding-inline-start: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}