.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color:rgba(66, 24, 102, 1);
}
.fullContainer {
  width: 100%;
}

.container {
  width: 95%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.footer h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.title a {
  color: rgba(243, 220, 174);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color:rgba(66, 24, 102, 1);
  border-color:rgba(66, 24, 102, 1);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}



.backgroundImageTest::before {    
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-height: 600px;
  background-image: url("https://cdn.pixabay.com/photo/2018/09/17/21/46/rose-3684890_960_720.jpg");  
  filter: blur(5px);
  -webkit-filter: blur(5px);

}

.btn{
  cursor: pointer;
  border: 1px solid rgba(243, 220, 174);
  background-color: rgb(81, 64, 21);
  padding: 10px 20px 10px 20px;
  color: rgba(243, 220, 174);
  box-shadow: 1px 3px 8px 2px rgba(243, 220, 174);
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  border-radius: 50px;
  font-size: 20px;
}

.ContainerInfoHeader{
  width: 60%;
}

.ContainerImgHeader{
  width: 40%;
}

@media (max-width: 900px) {
  .ContainerImgHeader{
    display: none;
  }
  .ContainerInfoHeader{
    width: 100%;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 899px) {
  .backgroundImageTest::before {    
    content: "";
    background-image: url("https://cdn.pixabay.com/photo/2018/09/17/21/46/rose-3684890_960_720.jpg");  
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 500px;
  }
}



@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.productos{
  width:250px;
  text-align:center;
  border-radius:20px;
  box-shadow: 1px 3px 8px 2px rgb(255 174 18);
  padding: 20px;
}

.btnAdd{
  padding: 10px;
  margin: 20px auto auto;
  background: rgb(81, 64, 21);
  color: rgb(243, 220, 174);
  border: none;
  box-shadow: rgb(81 64 21) 1px 1px 5px 1px;
  border-radius: 30px;
  max-width: 400px;
  width: 100%;
  height: 50px;
}